<!-- Author Include Start -->
<link
  rel="stylesheet"
  href="{{'/assets/css/about_author.css' | absolute_url}}"
/>

<div class="author-container">
  <div class="author-avatar rounded-circle">
    <img
      src="{{- include.author.avatar -}}"
      width="112"
      height="112"
      alt="Avatar of {{ include.author.name }}"
      onerror="this.style.display='none'"
    />
  </div>
  <h3>{{ include.author.name }}</h3>
  <p class="author-pronouns">
    <strong>Pronouns:</strong> {{ include.author.pronouns }}
  </p>

  <div class="author-links d-flex flex-wrap align-items-center w-100">
    {% if include.author.links %} {% for entry in include.author.links %}

    <a href="{{ entry.url }}" aria-label="{{ entry.label }}" class="img-link">
      <i class="{{ entry.icon }}"></i>
    </a>
    {% endfor %} {% endif %}
  </div>

  <p>{{ include.author.bio }}</p>
</div>
<!-- Author Include End -->
