<!-- Author Include Start -->
<div class="author-container">
  <div class="author-details">
    <h3>{{ include.author.name }}</h3>
    <div class="author-avatar">
      <img
        src="{{- include.author.avatar -}}"
        width="112"
        height="112"
        alt="Avatar of {{ include.author.name }}"
        onerror="this.style.display='none'"
      />
      <p><strong>Pronouns:</strong> {{ include.author.pronouns }}</p>

      <div class="sidebar-bottom d-flex flex-wrap align-items-center w-100">
        {% if include.author.links %} {% for entry in include.author.links %}

        <a href="{{ entry.url }}" aria-label="{{ entry.label }}">
          <i class="{{ entry.icon }}"></i>
        </a>
        {% endfor %} {% endif %}
      </div>

      <p>{{ include.author.bio }}</p>
    </div>
  </div>
</div>
<!-- Author Include End -->
